# Archivos de Eclipse

.classpath

.project

.settings/


# Carpeta bin

bin/


# Archivos de sistema

.DS_Store


# Archivos y carpetas fuera del proyecto

../*
../.metadata/ 
../Animal/ 
../Arreglos1/ 
../Bicicleta/ 
../Clase1POOJava/ 
../ClaseAnimal/ 
../Cuenta/ 
../Factor/ 
../Helloworld/ 
../HolaMundo/ 
../Java.practica/ 
../Nuevo/ 
../Pract/ 
../Practicajava/ 
../Practicajavacodigo/ 
../Program/ 
        ../Pruebas-tech/ ../Pruebas/ ../SumadosNumeros/
        ../cuentaban/
